@charset "UTF-8";
/*---------- Typography ----------*/
/* line 2, ../../appendix/cheatsheet/scss/_typography.scss */
* html body {
  /* =ie6 */
  font-family: MS PGothic, "MS Pゴシック", Osaka, sans-serif;
  text-autospace: ideograph-alpha; }

/* =ie7, =ie8 */
/* line 6, ../../appendix/cheatsheet/scss/_typography.scss */
* + html body {
  font-family: Meiryo, "メイリオ", MS PGothic, "MS Pゴシック", Osaka, sans-serif; }

/* line 7, ../../appendix/cheatsheet/scss/_typography.scss */
body {
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic Pro", "HiraKakuPro-W3", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", Osaka, sans-serif; }

/* basic
 * ---------------------------------------------- */
/* line 32, ../../appendix/cheatsheet/scss/periodictable.scss */
body {
  background: url(img/17.png) #333333;
  padding: .5em 1em; }

/* line 37, ../../appendix/cheatsheet/scss/periodictable.scss */
.container {
  margin: 0 auto 2em;
  min-width: 480px;
  width: 1168px; }

/* typography
 * ---------------------------------------------- */
/* line 50, ../../appendix/cheatsheet/scss/periodictable.scss */
.title,
.icon .command,
.info .category,
kbd,
.desc.en,
.legend {
  font-family: "Chivo", sans-serif; }

/* bootstrap
 * ---------------------------------------------- */
/* line 56, ../../appendix/cheatsheet/scss/periodictable.scss */
.row {
  margin-left: 0; }
  /* line 58, ../../appendix/cheatsheet/scss/periodictable.scss */
  .row.topmg {
    margin-top: 3.2em; }

/* line 62, ../../appendix/cheatsheet/scss/periodictable.scss */
[class*="span"] {
  margin-left: 4px; }

/* line 65, ../../appendix/cheatsheet/scss/periodictable.scss */
.span1 {
  width: auto; }

/* line 68, ../../appendix/cheatsheet/scss/periodictable.scss */
.offset5 {
  margin-left: 488px; }

/* line 69, ../../appendix/cheatsheet/scss/periodictable.scss */
.offset6 {
  margin-left: 585px; }

/* line 70, ../../appendix/cheatsheet/scss/periodictable.scss */
.offset7 {
  margin-left: 681px; }

/* line 71, ../../appendix/cheatsheet/scss/periodictable.scss */
.offset8 {
  margin-left: 777px; }

/* line 72, ../../appendix/cheatsheet/scss/periodictable.scss */
.offset9 {
  margin-left: 874px; }

/* line 73, ../../appendix/cheatsheet/scss/periodictable.scss */
.offset10 {
  margin-left: 971px; }

/* Masthead
 * ---------------------------------------------- */
/* line 77, ../../appendix/cheatsheet/scss/periodictable.scss */
.masthead {
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 0 rgba(128, 128, 128, 0.3);
  font-weight: bold; }
  /* line 81, ../../appendix/cheatsheet/scss/periodictable.scss */
  .masthead p {
    font-size: 1.6em;
    margin: .2em .5em .3em; }

/* line 87, ../../appendix/cheatsheet/scss/periodictable.scss */
.title {
  color: #f8f8f3;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.2); }

/* Content header
 * ---------------------------------------------- */
/* line 96, ../../appendix/cheatsheet/scss/periodictable.scss */
.content-header {
  text-align: center;
  margin-bottom: -80px; }
  /* line 99, ../../appendix/cheatsheet/scss/periodictable.scss */
  .content-header h1 {
    display: none;
    font-size: 4em;
    margin: 38px 0 28px;
    text-align: center;
    text-shadow: 1px 1px 2px #e6da82, 0 0 2px #5bdaec; }
  /* line 106, ../../appendix/cheatsheet/scss/periodictable.scss */
  .content-header p {
    color: #5bdaec;
    display: none;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 0 0 16px #5bdaec, 0 0 12px #4b78cb; }
  /* line 113, ../../appendix/cheatsheet/scss/periodictable.scss */
  .content-header .title-logo {
    display: block;
    margin: 38px auto 0; }

/* line 118, ../../appendix/cheatsheet/scss/periodictable.scss */
.btn-group {
  display: inline-block;
  list-style: none;
  margin: 20px auto;
  min-width: 80px; }
  /* line 123, ../../appendix/cheatsheet/scss/periodictable.scss */
  .btn-group li {
    border: 1px solid transparent;
    float: left; }
    /* line 126, ../../appendix/cheatsheet/scss/periodictable.scss */
    .btn-group li a {
      display: block;
      height: 32px;
      padding: 8px 12px;
      width: 32px; }
    /* line 132, ../../appendix/cheatsheet/scss/periodictable.scss */
    .btn-group li.active {
      border-color: #5bdaec;
      border-radius: .4em;
      box-shadow: 0 0 8px #5bdaec, 0 0 4px #4b78cb; }
  /* line 138, ../../appendix/cheatsheet/scss/periodictable.scss */
  .btn-group .v-divider {
    background: #666;
    border: none;
    border-right: 1px solid #e5e5e5;
    height: 44px;
    margin: 2px 18px;
    width: 1px; }

/* Periodic Table
 * ---------------------------------------------- */
/* line 150, ../../appendix/cheatsheet/scss/periodictable.scss */
.periodic-table {
  clear: both; }

/* line 154, ../../appendix/cheatsheet/scss/periodictable.scss */
.element {
  margin-bottom: 4px;
  position: relative; }

/* line 158, ../../appendix/cheatsheet/scss/periodictable.scss */
.icon {
  background: white;
  border-radius: .3em;
  cursor: pointer;
  display: block;
  font-size: .9em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: relative;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  /* line 170, ../../appendix/cheatsheet/scss/periodictable.scss */
  .icon .icon-inner {
    border-radius: .3em;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(128, 128, 128, 0.25)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.25));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.25));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.25));
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.25));
    position: relative;
    width: 100%; }
  /* line 176, ../../appendix/cheatsheet/scss/periodictable.scss */
  .icon .command {
    color: #fff;
    display: block;
    font-size: 1em;
    height: 6.4em;
    overflow: hidden;
    padding: 6px;
    opacity: .8;
    text-shadow: 0 -1px 0 rgba(58, 58, 58, 0.3);
    width: 6.4em; }
  /* line 187, ../../appendix/cheatsheet/scss/periodictable.scss */
  .icon:hover {
    box-shadow: 0 0 18px #5bdaec, 0 0 12px #4b78cb, inset 0 0 4px #f8f8f3; }
    /* line 189, ../../appendix/cheatsheet/scss/periodictable.scss */
    .icon:hover .icon-inner {
      background-image: none; }

/* line 194, ../../appendix/cheatsheet/scss/periodictable.scss */
.keypress {
  font-size: .6em;
  margin: 0;
  position: absolute;
  bottom: .5em;
  left: 0;
  width: 100%; }
  /* line 201, ../../appendix/cheatsheet/scss/periodictable.scss */
  .keypress kbd {
    background: #505050;
    border-radius: 0.3em;
    box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
    color: #FAFAFA;
    display: inline-block;
    font-size: 1.8em;
    text-align: center;
    font-weight: normal;
    text-shadow: -1px -1px 0 #464646;
    padding: 0.2em;
    min-width: 1em; }

/* line 216, ../../appendix/cheatsheet/scss/periodictable.scss */
.navigation .icon {
  background-color: #fe2370; }

/* line 217, ../../appendix/cheatsheet/scss/periodictable.scss */
.split-window .icon {
  background-color: #a2e154; }
  /* line 24, ../../appendix/cheatsheet/scss/periodictable.scss */
  .split-window .icon .command {
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }

/* line 218, ../../appendix/cheatsheet/scss/periodictable.scss */
.text-manipulation .icon {
  background-color: #5bdaec; }
  /* line 24, ../../appendix/cheatsheet/scss/periodictable.scss */
  .text-manipulation .icon .command {
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }

/* line 219, ../../appendix/cheatsheet/scss/periodictable.scss */
.bookmarks .icon {
  background-color: #ff8f00; }

/* line 220, ../../appendix/cheatsheet/scss/periodictable.scss */
.find-replace .icon {
  background-color: #b083ef; }

/* line 221, ../../appendix/cheatsheet/scss/periodictable.scss */
.general .icon {
  background-color: #757160; }

/* line 222, ../../appendix/cheatsheet/scss/periodictable.scss */
.tabs .icon {
  background-color: #4b78cb; }

/* line 223, ../../appendix/cheatsheet/scss/periodictable.scss */
.editing .icon {
  background-color: #e6da82; }
  /* line 24, ../../appendix/cheatsheet/scss/periodictable.scss */
  .editing .icon .command {
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }

/* line 224, ../../appendix/cheatsheet/scss/periodictable.scss */
.code-folding .icon {
  background-color: #f8f8f3; }
  /* line 24, ../../appendix/cheatsheet/scss/periodictable.scss */
  .code-folding .icon .command {
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }

/* info
 * ---------------------------------------------- */
/* line 228, ../../appendix/cheatsheet/scss/periodictable.scss */
.info {
  background: url(img/19.png) white;
  border-radius: .3em;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.6);
  display: none;
  min-height: 80px;
  padding: 10px 15px;
  position: absolute;
  left: 8px;
  top: 6.6em;
  width: 260px;
  z-index: 100; }
  /* line 240, ../../appendix/cheatsheet/scss/periodictable.scss */
  .info:after {
    content: "";
    left: 2em;
    top: -24px;
    height: 0;
    margin-right: -6px;
    position: absolute;
    width: 0;
    border: 12px solid #fff;
    border-color: transparent;
    border-bottom-color: #fff; }
  /* line 252, ../../appendix/cheatsheet/scss/periodictable.scss */
  .info h3.keypress {
    clear: right;
    font-size: .8em;
    line-height: 1em;
    margin-bottom: 10px;
    position: static; }
    /* line 258, ../../appendix/cheatsheet/scss/periodictable.scss */
    .info h3.keypress kbd {
      margin: 0 .2em;
      padding: .5em .3em; }
  /* line 263, ../../appendix/cheatsheet/scss/periodictable.scss */
  .info p {
    color: #888;
    text-shadow: none;
    font-size: 1em; }
  /* line 268, ../../appendix/cheatsheet/scss/periodictable.scss */
  .info .desc {
    text-align: left; }
    /* line 270, ../../appendix/cheatsheet/scss/periodictable.scss */
    .info .desc.jp {
      color: #333; }
  /* line 274, ../../appendix/cheatsheet/scss/periodictable.scss */
  .info .category {
    display: inline-block;
    float: right;
    font-size: .86em;
    margin-bottom: 0; }

/* line 281, ../../appendix/cheatsheet/scss/periodictable.scss */
.info.align-right {
  left: auto;
  right: 8px; }
  /* line 284, ../../appendix/cheatsheet/scss/periodictable.scss */
  .info.align-right:after {
    left: auto;
    right: 2em; }

/* legend
 * ---------------------------------------------- */
/* line 292, ../../appendix/cheatsheet/scss/periodictable.scss */
.legend {
  list-style: none;
  margin-top: 40px; }
  /* line 295, ../../appendix/cheatsheet/scss/periodictable.scss */
  .legend li {
    color: #fff;
    float: left;
    padding: 10px 0;
    width: 33%; }
    /* line 300, ../../appendix/cheatsheet/scss/periodictable.scss */
    .legend li .icon {
      display: inline-block;
      height: 1.5em;
      margin: 0 .4em 0 0;
      vertical-align: middle;
      width: 1.5em; }

@media (max-width: 767px) {
  /* line 311, ../../appendix/cheatsheet/scss/periodictable.scss */
  .container {
    width: auto; }

  /* line 312, ../../appendix/cheatsheet/scss/periodictable.scss */
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    float: left; }

  /* line 318, ../../appendix/cheatsheet/scss/periodictable.scss */
  .offset5,
  .offset6,
  .offset7,
  .offset8,
  .offset9,
  .offset10 {
    margin-left: 4px; }

  /* line 319, ../../appendix/cheatsheet/scss/periodictable.scss */
  .content-header {
    margin-bottom: 0; }
    /* line 321, ../../appendix/cheatsheet/scss/periodictable.scss */
    .content-header h1 {
      font-size: 2.8em;
      margin: 18px 0 10px; }
    /* line 325, ../../appendix/cheatsheet/scss/periodictable.scss */
    .content-header p {
      font-size: 1.4em; }
    /* line 328, ../../appendix/cheatsheet/scss/periodictable.scss */
    .content-header .title-logo {
      width: 60%; }

  /* line 333, ../../appendix/cheatsheet/scss/periodictable.scss */
  .legend li {
    width: 49%; } }
